$ff: 'Roboto';
$base-color: #019687;
$gray: #eeedef;
$white: #fff;
$white-alpha: rgba(255, 255, 255, .7);
$black: #000;
$modal: rgba(0, 0, 0, .4);

body {
  font-family: $ff;
}

.modal {
  background-color: $modal;
  position: fixed;
  z-index: 1000;
  padding-top: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.hide {
  display: none;
}

.container {
  border-radius: 4px;
  z-index: 99999;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .cell {
    box-sizing: border-box;
    padding: 30px;
  }
}

.time-container {
  background-color: $base-color;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-end;

  .numbers {
    color: $white-alpha;
    display: flex;
    margin-right: 5px;
    flex-direction: row;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
  }

  .meridiem {
    align-items: center;
    color: $white-alpha;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    font-weight: bold;
  }
}

.clock-container {
  flex: 6;
  flex-direction: column;
  background-color: $white;

  .face {
    background-color: $gray;
    border-radius: 50rem;
    height: 14rem;
    position: relative;
    width: 14rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 93%;
      height: 85%;
      border-radius: 50rem;
      box-sizing: border-box;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .btn {
      padding: 1rem;
      cursor: pointer;
      color: $base-color;
      font-weight: bold;
    }
  }
}

.circle {
  color: $black;
  text-align: center;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  pointer-events: all;

  &.on {
    color: white;
  }
}

.effect {
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.1, 1.5, 0.3, 1);
}

.picker-hand {
  width: 0px;
  height: 0px;
  margin: auto;

  .dot {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: $base-color;
    border-radius: 1rem;
    top: -2px;
  }

  .hand {
    content: "";
    position: absolute;
    height: 2px;
    width: 75px;
    background-color: $base-color;
  }

  .pointer {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #019687;
    border-radius: 7rem;
    left: 4.4rem;
    top: -15px;
  }
}

.selected {
  background-color: $base-color;
  color: #fff;
  border-radius: 4rem;
  padding-top: 5px;
}

.pickers {
  align-content: space-between;
  display: flex;
  flex-direction: column;

  input {
    border: .2rem solid $base-color;
  }
}

.time-picker {
  flex: 2;
  margin: 20px;
  margin-bottom: 300px;
  padding: 10px;
}

.m-selected {
  color: $white;
}

.t-selected {
  color: $white;
}

.copyright {
  padding: 20px;
  font-size: 0.9rem;
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
    left: 50%;
    width: 90%;
  }

  .time-container {
    .meridiem {
      justify-content: center;
    }
  }
}

@media screen and (orientation: landscape) {
  .modal {
    padding-top: 1rem;
  }

  .container {
    flex-direction: row;
    height: 92%;
    width: 86%;
  }

  .clock-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .time-container {
    flex-direction: column;
    justify-content: center;
  }
}
